%table.table.table_register.table_capitals
  %thead
    %tr
      %th.col-sm-1 Departamento
      %th.col-sm-1 Municipio
      %th.col-sm-1 Item Capital
      %th.col-sm-1 Año de Compra y/o Construcción           
      %th.col-sm-1 Vida útil futura         
      %th.col-sm-1 Valor actual (Bs)
      %th.col-sm-1 
  %tbody
    = f.simple_fields_for :capitals do |capital|
      %tr
        %td
          = capital.association :department, label: false 
        %td
          = capital.association :community, label: false
        %td
          = capital.input_field :capital_item
        %td
          = capital.input_field :start_year
        %td
          = capital.input_field :lifespan_future
        %td
          = capital.input_field :current_value
        %td
          %a.btn.btn-danger.btn-small.static_capitals
            %i.icon-white.icon-remove
            eliminar