%form.form-horizontal{role: "form"}
  %h3 Sign Up!
  .form-group
    %label.col-lg-2.control-label{for: "username"} Username
    .col-lg-10
      %input#username.form-control{name: "username", type: "text"}/
      %span.help-block.hidden
  .form-group
    %label.col-lg-2.control-label{for: "email"} Email
    .col-lg-10
      %input#email.form-control{name: "email", type: "email"}/
      %span.help-block.hidden
  .form-group
    %label.col-lg-2.control-label{for: "password"} Password
    .col-lg-10
      %input#password.form-control{name: "password", type: "password"}/
      %span.help-block.hidden
  .form-group
    %label.col-lg-2.control-label{for: "repeatPassword"} Repeat Password
    .col-lg-10
      %input#repeatPassword.form-control{name: "repeatPassword", type: "password"}/
      %span.help-block.hidden
  .form-group
    %label.col-lg-2.control-label{for: "country"} Country
    .col-lg-10
      %select#country.form-control{name: "country"}
      %span.help-block.hidden
  .form-group
    %label.col-lg-2.control-label Gender
    .col-lg-offset-2.col-lg-10
      %label.radio-inline.control-label
        %input#genderMale{name: "gender", type: "radio", value: "male"}/
        Male
      %label.radio-inline.control-label
        %input#genderFemale{name: "gender", type: "radio", value: "female"}/
        Female
      %span.help-block.hidden
  .form-group
    %label.col-lg-2.control-label{for: "age"} Age
    .col-lg-10
      %input#age.form-control{name: "age", type: "number"}/
      %span.help-block.hidden
  .form-group
    .col-lg-offset-2.col-lg-10
      .checkbox
        %label.control-label
          %input#terms{name: "terms", type: "checkbox", value: "true"}>/
          I agree all your
          %a{href: "#"} Terms of Services
        %span.help-block.hidden
  .form-group
    .col-lg-offset-2.col-lg-10
      %button#signUpButton.btn.btn-success{type: "button"} Sign Up
= simple_form_for @register, html: { class: 'form-horizontal form-register', role: 'form' }, defaults: { input_html: { class: 'form-control' } }  do |f|
  .form-group
    .col-sm-8
    = f.label :code, class: "col-sm-2"
    .col-sm-2
      %input.integer.optional.form-control{ readonly: true, type: "text", value: f.object.try(:code)  }
    = f.hidden_field :user_id

  = f.error_notification

  = render "owner", f: f
  
  .well
    .form-group
      = f.label :manager_type, class: "col-sm-7"
      .col-sm-2.control
        = f.input_field :manager_type_id, as: :select, collection: ManagerType.all

  .form-actions
    %legend IDENTIFICACIÓN DE LOS TITULARES
    = render 'holder', f: f

  = render "register_steps/form_submit", register: @register

.form-actions.navsteps 
  %a.btn.btn-primary.btn-large{ href: registers_path }
    .glyphicon.glyphicon-chevron-left
    Atrás
  - unless @register.new_record?
    %a.btn.btn-primary.btn-large.pull-right{ href: register_register_step_path(@register, :family) }
      Siguiente
      .glyphicon.glyphicon-chevron-right

:javascript
  var register = new Runpa.Views.Registers.NewView()