= simple_form_for @register, html: { class: 'form-horizontal', role: 'form' }, defaults: { label_html: { class: 'col-sm-3' }, input_html: { class: 'form-control col-sm-7' } }  do |f|
  = f.error_notification

  = render 'holder', f: f
  .form-group
    = f.label :civil_union, class: "col-sm-2"
    .col-sm-4
      = f.input_field :civil_union_id, as: :select, collection: CivilUnion.all
    = f.label :residence, class: "col-sm-2"
    .col-sm-4
      = f.input_field :residence
  .form-group
    = f.label :address, class: "col-sm-2"
    .col-sm-10
      = f.input_field :address
  .form-group
    = f.label :community, class: "col-sm-2"
    .col-sm-4
      = f.input_field :community_id, as: :select, collection: Community.all
    = f.label :department, class: "col-sm-2"
    .col-sm-4
      = f.input_field :department_id, as: :select, collection: Department.all
  .form-group
    = f.label :geodesic_ns, class: "col-sm-2"
    .col-sm-4
      = f.input_field :geodesic_ns
    = f.label :geodesic_ns, class: "col-sm-2"
    .col-sm-4
      = f.input_field :geodesic_ew

  = render 'son_aggregate', f: f, resources: :sons
  = render 'son_aggregate', f: f, resources: :aggregates

  .form-actions
    %input.btn.btn-primary.pull-right{type: "submit", value: "Crear Registro"}
