= simple_form_for @register, html: { class: 'form-horizontal', role: 'form' }, defaults: { input_html: { class: 'form-control' } }  do |f|
  .form-group
    .col-sm-9
    = f.label :code, class: "col-sm-1"
    .col-sm-2
      = f.input_field :code, readonly: true
    = f.hidden_field :user_id

  = f.error_notification

  .well.form-actions
    %legend IDENTIFICACIÓN DE LOS TITULARES
    = render 'holder', f: f
    .form-group
      = f.label :civil_union, class: "col-sm-2"
      .col-sm-4
        = f.input_field :civil_union_id, as: :select, collection: CivilUnion.all
      = f.label :residence, class: "col-sm-2"
      .col-sm-4
        = f.input_field :residence
    .form-group
      = f.label :address, class: "col-sm-2"
      .col-sm-10
        = f.input_field :address
    .form-group
      = f.label :community, class: "col-sm-2"
      .col-sm-4
        = f.input_field :community_id, as: :select, collection: Community.all
      = f.label :department, class: "col-sm-2"
      .col-sm-4
        = f.input_field :department_id, as: :select, collection: Department.all
    .form-group
      = f.label :geodesic_ns, class: "col-sm-2"
      .col-sm-4
        = f.input_field :geodesic_ns
      = f.label :geodesic_ns, class: "col-sm-2"
      .col-sm-4
        = f.input_field :geodesic_ew

  .well.form-actions
    %legend IDENTIFICACIÓN DE LOS DEMÁS MIEMBROS DE LA FAMILIA
    = field_set_tag 'Hijos e Hijas' do
      #sons
        = render 'son_aggregate', f: f, resources: :sons
        %a.btn.btn-success.btn-large.add_son
          %i.icon-white.icon-plus-sign
          adicionar hijo/a

    = field_set_tag 'Agregados y Agregadas' do
      #aggregates
        = render 'son_aggregate', f: f, resources: :aggregates
        %a.btn.btn-success.btn-large.add_aggregate
          %i.icon-white.icon-plus-sign
          adicionar agregado/a

  .well.form-actions
    %legend ORGANIZACIÓN SOCIAL, PRODUCTIVA , COMERCIAL
    #partnerships
      = render 'partnership', f: f
      %a.btn.btn-success.btn-large.add_partnership  
        %i.icon-white.icon-plus-sign
        adicionar Asociacion Productiva  
      = render 'main_activity', f: f                    

  .well.form-actions
    %legend IDENTIFICACIÓN DE LOS FACTORES DE PRODUCCIÓN
    = field_set_tag 'Tierra' do
      #lands
        = render 'land', f: f

    = field_set_tag 'Trabajo' do
      #lands
        = render 'work', f: f

  .well.form-actions
    %legend PRODUCCIÓN

  .well.form-actions
    %legend IDENTIFICACIÓN DEL AGENTE REGISTRADOR, FECHA Y LUGAR DE EMISIÓN
  .form-actions
    %input.btn.btn-primary.pull-right{type: "submit", value: "Crear Registro"}

:javascript
  var register = new Runpa.Views.Registers.NewView()