= simple_form_for @register, html: { class: 'form-horizontal', role: 'form' }, defaults: { input_html: { class: 'form-control' } }  do |f|
  .form-group
    .col-sm-9
    = f.label :code, class: "col-sm-1"
    .col-sm-2
      = f.input_field :code, readonly: true
    = f.hidden_field :user_id

  = f.error_notification

  .well.form-actions
    %legend IDENTIFICACIÓN DE LOS TITULARES
    = render 'holder', f: f

  = render "register_steps/form_submit", register: @register

.form-actions.navsteps 
  %a.btn.btn-primary.btn-large{ href: registers_path }
    .glyphicon.glyphicon-chevron-left
    Atrás

  - unless @register.new_record?
    %a.btn.btn-success.btn-small.pull-right{href: register_path(@register)}
      .glyphicon.glyphicon-eye-open
      Ver

:javascript
  var register = new Runpa.Views.Registers.NewView()