- index = 1
= f.simple_fields_for :holders do |holder|
  .well.form-actions
    = field_set_tag "Titular 0#{ index }" do
      = holder.hidden_field :type_person
      = holder.simple_fields_for :person do |person|
        /= person.input :name
        .form-group.control-group
          = person.label :name, class: "col-sm-3"
          .col-sm-9.control
            = person.input_field :name, class: 'form-control'

        .form-group
          = person.label :community_of_birth, class: "col-sm-3"
          .col-sm-4
            = person.input_field :community_of_birth_id, as: :select, collection: Community.all

          = person.label :birthdate, class: "col-sm-2"
          .col-sm-3
            = person.input_field :birthdate, placeholder: 'DD/MM/AAAA', as: :string, value: (l person.object.birthdate if person.object.birthdate)

        .form-group
          = person.label :identification, class: "col-sm-2"
          .col-sm-2
            = person.input_field :identification
          = person.label :sex, class: "col-sm-1"
          .col-sm-2
            = person.input_field :sex, as: :select, collection: Person::SEX
          = person.label :education, class: "col-sm-2"
          .col-sm-3
            = person.input_field :education_id, as: :select, collection: Education.all

        - if index == 1
          .form-group
            = person.label :civil_status, class: "col-sm-2"
            .col-sm-4
              = person.input_field :civil_status_id, as: :select, collection: CivilStatus.all

            = f.label :residence, class: "col-sm-2"
            .col-sm-4
              = f.input_field :residence

          .form-group
            = f.label :address, class: "col-sm-2"
            .col-sm-6
              = f.input_field :address

            = person.label :phone, class: 'col-sm-2'
            .col-sm-2
              = person.input_field :phone

          .form-group
            = f.label :department, class: "col-sm-2"
            .col-sm-3
              = f.input_field :department_id, as: :select, collection: Department.all, id: 'department_holder'

            = f.label :community, class: "col-sm-3"
            .col-sm-4
              = f.input_field :community_id, as: :select, collection: Community.all, id: 'community_holder'

          .form-group
            = f.label :geodesic_ns, class: "col-sm-2"
            .col-sm-2
              = f.input_field :geodesic_ns

            = f.label :geodesic_ns, class: "col-sm-2"
            .col-sm-2
              = f.input_field :geodesic_ew

            = f.label :code_ine, class: "col-sm-2"
            .col-sm-2
              = f.input_field :code_ine

        .form-group
          = holder.label :time_to_land, class: "col-sm-7"
          .col-sm-5
            = holder.input_field :time_to_land, as: :string

  - index +=1