= f.simple_fields_for :holders do |holder|
  /= holder.input :type_person
  = holder.simple_fields_for :person do |person|
    = person.input :name
    = person.input :birthdate, as: :string
    = holder.input :mothers_name
    = person.input :identification
    = person.input :sex, as: :select, collection: Person::SEX
    = person.association :education
    = person.association :ethnicity
    = holder.input :time_to_land, as: :string
    dias al año
