.form-group
  = f.label :subsector, class: "col-sm-1"
  .col-sm-3
    = f.input_field :subsector

  = f.label :first_entry, class: "col-sm-1"
  .col-sm-3
    = f.input_field :first_entry

  = f.label :second_entry, class: "col-sm-1"
  .col-sm-3
    = f.input_field :second_entry