= f.simple_fields_for resources do |resource|
  = resource.simple_fields_for :person do |person|
    = person.input :name
    = person.input :birthdate
    = person.input :sex, as: :select, collection: Person::SEX
    = person.input :identification
