%table.table.table_register.table_works
  %thead
    %tr
      %th.col-sm-1{ rowspan: 2 } Departamento
      %th.col-sm-1{ rowspan: 2 } Municipio
      %th.col-sm-1{ colspan: 3 } Mano de Obra 
      %th.col-sm-1{ colspan: 3 } Conversión - hombre año
      %th.col-sm-1{ rowspan: 2 }
    %tr
      %th.col-sm-1 Propia
      %th.col-sm-1 Eventual
      %th.col-sm-1 Permanente
      %th.col-sm-1 Propia
      %th.col-sm-1 Eventual
      %th.col-sm-1 Total
  %tbody
    = f.simple_fields_for :works do |work|
      %tr
        %td
          = work.association :department, label: false 
        %td
          = work.association :community, label: false
        %td
          = work.input_field :own_labor
        %td
          = work.input_field :eventual_labor
        %td
          = work.input_field :permanent_labor
        %td
          = work.input_field :men_per_year_own
        %td
          = work.input_field :men_per_year_eventually
        %td
          = work.input_field :men_per_year_total
        %td
          %a.btn.btn-danger.btn-small.static_works
            %i.icon-white.icon-remove
            eliminar