- if @register_no_valids.present?
  .panel.panel-danger
    .panel-heading
      - plural  = @register_no_valids.size > 1 ? 's' : ''
      %strong Tienes #{ @register_no_valids.size } registro#{ plural } imcompleto#{ plural }!
      Por favor soluciona estos registros antes de continuar.
    .panel-body
      %h1 Registros Imcompletos

      %table.table.table-bordered.table-hover
        %tr
          %th.col-sm-4 Descripción
          %th.col-sm-5 Problema
          %th{ colspan: 3 }

        - @register_no_valids.each do |register|
          %tr{ class: 'danger' }
            %td
              = truncate(register.summary, length: 60)
            %td

            %td
              %a.btn.btn-success.btn-small{ href: register_path(register) }
                .glyphicon.glyphicon-eye-open
                Ver
            %td
              %a.btn.btn-primary.btn-small{ href: edit_register_path(register) }
                .glyphicon.glyphicon-pencil
                Editar
            %td
              %a.btn.btn-danger.btn-small{ href: register_path(register),  data: { method: :delete, confirm: '¿Estás seguro?' } }
                .glyphicon.glyphicon-remove
                Eliminar

%h1 Lista de Registros

%table.table.table-striped.table-hover
  %tr
    %th Código
    %th Titular 1
    %th Titular 2
    %th.col-sm-1
    %th.col-sm-1
    - if current_user.module_administrador? 
      %th.col-sm-1

  - @registers.each do |register|
    %tr{ class: ('danger' unless register.active?) }
      %td= register.code
      %td= register.holders.first.person.name rescue ''
      %td= register.holders.last.person.name rescue ''
      %td
        %a.btn.btn-success.btn-small{ href: register_path(register) }
          .glyphicon.glyphicon-eye-open
          Ver
      %td
        %a.btn.btn-primary.btn-small{ href: edit_register_path(register) }
          .glyphicon.glyphicon-pencil
          Editar
      - if current_user.module_administrador? 
        %td
          %a.btn.btn-danger.btn-small{ href: register_path(register),  data: { method: :delete, confirm: '¿Estás seguro?' } }
            .glyphicon.glyphicon-remove
            Eliminar

= paginate @registers

.form-actions.navsteps 
  %a.btn.btn-success.btn-large{href: new_register_path}
    .glyphicon.glyphicon-plus
    Nuevo registro