= render 'no_valids', register_no_valids: @register_no_valids   

= render 'searcher'

%h1 Lista de Registros

%table.table.table-striped.table-hover
  %tr
    %th Código
    %th Titular 1
    %th Titular 2
    %th.col-sm-1
    %th.col-sm-1
    - if current_user.module_administrador? 
      %th.col-sm-1

  - @registers.each do |register|
    %tr{ class: ('danger' unless register.active?) }
      %td= register.code
      %td= register.holders.first.person.name rescue ''
      %td= register.holders.last.person.name rescue ''

      %td
        -if current_user == register.user || current_user.module_administrador? 
          %a.btn.btn-primary.btn-small{ href: edit_register_path(register) }
            .glyphicon.glyphicon-pencil
            Editar
      %td
        %a.btn.btn-success.btn-small{ href: register_path(register) }
          .glyphicon.glyphicon-eye-open
          Ver
      - if current_user.module_administrador? 
        %td
          %a.btn.btn-danger.btn-small{ href: register_path(register),  data: { method: :delete, confirm: '¿Estás seguro?' } }
            .glyphicon.glyphicon-remove
            Eliminar

= paginate @registers

.form-actions.navsteps 
  %a.btn.btn-success.btn-large{href: new_register_path}
    .glyphicon.glyphicon-plus
    Nuevo registro