%h1 Listing registers

%table
  %tr
    %th Code
    %th
    %th
    %th

  - @registers.each do |register|
    %tr
      %td= register.code
      %td= link_to 'Show', register
      %td= link_to 'Edit', edit_register_path(register)
      %td= link_to 'Destroy', register, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Register', new_register_path
