- index = 0
.table-responsive
  %table.table.table-bordered.table_register{ class: "table_land-#{ index }-capitals" }
    %thead
      %tr
        %th.col-sm-2 Departamento
        %th.col-sm-2 Municipio
        %th.col-sm-4 Item Capital
        %th.col-sm-2 Año de Compra y/o Construcción                 
        %th.col-sm-2 Valor de Compra y/o Construcción (Bs)
    %tbody
      %tr
      = f.simple_fields_for :capitals do |capital|
        %tr{ id: "capital-#{ capital.object.try(:id) }" }
          %td
            = capital.input_field :department, value: capital.object.try(:department).try(:name)
          %td
            .col-sm-12
            = capital.input_field :community, value: capital.object.try(:community).try(:name)
          %td
            = capital.input_field :capital_item
          %td
            = capital.input_field :start_year
          %td
            = capital.input_field :current_value
  - index += 1