- index = 1
= f.simple_fields_for :holders do |holder|
  .well.form-actions
    = field_set_tag "Titular 0#{ index }" do
      = holder.hidden_field :type_person
      = holder.simple_fields_for :person do |person|
        .form-group.control-group
          = person.label :name, class: "col-sm-2"
          .col-sm-10.control
            = person.input_field :name, class: 'form-control'

        .form-group
          = person.label :first_lastname, class: "col-sm-2"
          .col-sm-4.control
            = person.input_field :first_lastname, class: 'form-control'

          = person.label :second_lastname, class: "col-sm-2"
          .col-sm-4.control
            = person.input_field :second_lastname, class: 'form-control'

        .form-group
          = person.label :department_of_birth, class: "col-sm-3"
          .col-sm-3
            = person.input_field :department_of_birth, value: person.object.try(:department_of_birth).try(:name)

          = person.label :province_of_birth, class: "col-sm-3"
          .col-sm-3
            = person.input_field :province_of_birth, value: person.object.try(:province_of_birth).try(:name)

        .form-group
          = person.label :community_of_birth, class: "col-sm-3"
          .col-sm-3
            = person.input_field :community_of_birth, value: person.object.try(:community_of_birth).try(:name)

          = person.label :birthdate, class: "col-sm-3"
          .col-sm-3
            = person.input_field :birthdate, placeholder: 'DD/MM/AAAA', as: :string, value: (l person.object.birthdate if person.object.birthdate)

        .form-group
          %label.string.optional.control-label.col-sm-3= person.object.try(:type_of_identification).try(:name)
          .col-sm-2
            = person.input_field :identification
          .col-sm-2
            = person.input_field :issued, value: person.object.try(:issued).try(:name)

        .form-group
          = person.label :education, class: "col-sm-2"
          .col-sm-3
            = person.input_field :education, value: person.object.try(:education).try(:name)
          = person.label :sex, class: "col-sm-2"
          .col-sm-1
            = person.input_field :sex

          - if index == 1
            = person.label :civil_status, class: "col-sm-2"
            .col-sm-2
              = person.input_field :civil_status_id, value: person.object.try(:civil_status).try(:name)

        - if index == 1
          .form-group
            = f.label :residence, class: "col-sm-2"
            .col-sm-3
              = f.input_field :type_residence, value: f.object.try(:type_residence).try(:name)
            .col-sm-5
              = f.input_field :residence, placeholder: "NOMBRE DEL LUGAR DE RESIDENCIA"

          .form-group
            = f.label :address, class: "col-sm-2"
            .col-sm-6
              = f.input_field :address

            = person.label :phone, class: 'col-sm-2'
            .col-sm-2
              = person.input_field :phone

          .form-group
            = f.label :department, class: "col-sm-3"
            .col-sm-3
              = f.input_field :department_id, value: f.object.try(:department).try(:name)

            = f.label :community, class: "col-sm-3"
            .col-sm-3
              = f.input_field :community_id, value: f.object.try(:community).try(:name)

        .form-group
          = holder.label :time_to_land, class: "col-sm-7"
          .col-sm-5
            = holder.input_field :time_to_land, as: :string

  - index +=1