.table-responsive
  %table.table.table-bordered.table_register{ class: "table_#{ resources.to_s }"}
    %thead
      %tr
        %th.col-sm-6 Nombre y Apellidos
        %th.col-sm-1 Edad
        %th.col-sm-1 Sexo
        %th.col-sm-2 Nº de días al año dedicado a las actividades agropecuarias en el establecimiento
        %th.col-sm-2 Número de Cédula de Identidad

    %tbody
      %tr
      = f.simple_fields_for resources do |resource|
        = resource.simple_fields_for :person do |person|
          %tr
            %td.col-sm-6
              = person.input_field :name
              = resource.hidden_field :type_person
            %td.col-sm-1
              = person.input_field :age
            %td.col-sm-1
              = person.input_field :sex
            %td.col-sm-2
              = resource.input_field :time_to_land, as: :string
            %td.col-sm-2
              = person.input_field :identification