- index = 0

.table-responsive
  %table.table.table-bordered.table_register{ class: "table_land-#{ index }-capitals" }
    %thead
      %tr
        %th.col-sm-2 Departamento
        %th.col-sm-2 Municipio
        %th.col-sm-4 Item Capital
        %th.col-sm-2 Año de Compra y/o Construcción                 
        %th.col-sm-2 Valor de Compra y/o Construcción (Bs)
        %th
    %tbody
      %tr
      = f.simple_fields_for :capitals do |capital|
        %tr{ id: "capital-#{ capital.object.try(:id) }" }
          %td
            .col-sm-12
              = capital.association :department, label: false, input_html: { id: "department_capitals_#{ capital.object.id }", class: "form-control department_capitals" }
          %td
            .col-sm-12
              = capital.association :community, label: false, input_html: { id: "community_capitals_#{ capital.object.id }", class: "form-control community_capitals" }, collection: capital.object.try(:department).try(:communities)
          %td
            = capital.input_field :capital_item
          %td
            = capital.input_field :start_year
          %td
            = capital.input_field :current_value
          %td
            %a.btn.btn-danger.btn-xs.remove-static-field
              .glyphicon.glyphicon-remove
            = capital.check_box :_destroy, class: 'hide'

  %a.btn.btn-success.btn-large.add_capital{ data: { type: "land-#{ index }-capital" } }
    .glyphicon.glyphicon-plus-sign
    adicionar capital

  %br 
  %br
  - index += 1