- index = 0
= f.simple_fields_for :lands do |land|
  .table-responsive
    %table.table.table-bordered.table_register{ class: "table_land-#{ index }-capitals" }
      %thead
        %tr
          %th{ colspan: 6 }
            Departamento: #{ land.object.try(:department).try(:name) } - Municipio: #{ land.object.try(:community).try(:name) }
        %tr
          %th.col-sm-7 Item Capital
          %th.col-sm-2 Año de Compra y/o Construcción           
          %th.col-sm-1 Vida útil futura         
          %th.col-sm-2 Valor actual (Bs)
          %th
      %tbody
        %tr
        = land.simple_fields_for :capitals do |capital|
          %tr{ id: "capital-#{ capital.object.id }" }
            %td
              = capital.input_field :capital_item
            %td
              = capital.input_field :start_year
            %td
              = capital.input_field :lifespan_future
            %td
              = capital.input_field :current_value
            %td
              %a.btn.btn-danger.btn-small.static_lands
                .glyphicon.glyphicon-remove
              = capital.check_box :_destroy#, class: 'hide'

  %a.btn.btn-success.btn-large.add_capital{ data: { type: "land-#{ index }-capital" } }
    .glyphicon.glyphicon-plus-sign
    adicionar capital

  %br 
  %br
  - index += 1