.table-responsive
  %table.table.table-bordered.table_register.table_capitals
    %thead
      %tr
        %th.col-sm-3 Departamento
        %th.col-sm-3 Municipio
        %th.col-sm-2 Item Capital
        %th.col-sm-1 Año de Compra y/o Construcción           
        %th.col-sm-1 Vida útil futura         
        %th.col-sm-2 Valor actual (Bs)
    %tbody
      = f.simple_fields_for :lands do |capital|
        %tr{ id: "capital-#{ capital.object.id }" }
          %td
            .col-sm-12
              %input.string.optional.form-control.department{ type: "text", readonly: true, value: capital.object.try(:department).try(:name) }
          %td
            .col-sm-12
              %input.string.optional.form-control.community{ type: "text", readonly: true, value: capital.object.try(:community).try(:name)}
          %td
            = capital.input_field :capital_item
          %td
            = capital.input_field :start_year
          %td
            = capital.input_field :lifespan_future
          %td
            = capital.input_field :current_value