.form-group
  = f.label :economic_activity, class: "col-sm-1"
  .col-sm-3
    = f.input_field :economic_activity_id, as: :select, collection: EconomicActivity.all

  = f.label :first_entry, class: "col-sm-1"
  .col-sm-3
    = f.input_field :first_entry

  = f.label :second_entry, class: "col-sm-1"
  .col-sm-3
    = f.input_field :second_entry