- index = 0
.table-responsive
  %table.table.table_register.table-bordered{ class: "table_land-#{ index }-productions" }
    %thead
      %tr
        %th.col-sm-2{ rowspan: 2 } Departamento
        %th.col-sm-2{ rowspan: 2 } Municipio
        %th.col-sm-4{ rowspan: 2 } Rubro
        %th.col-sm-1{ colspan: 2 } Cobertura Física Productiva           
        %th.col-sm-1{ colspan: 2 } Producción
        %th.col-sm-2{ rowspan: 2 } Sistema de Producción
        %th.col-sm-2{ rowspan: 2 } Destino de la Producción
        %th.col-sm-1{ rowspan: 2 }
      %tr
        %th.col-sm-1 Cantidad           
        %th.col-sm-1 Unidad         
        %th.col-sm-1 Cantidad
        %th.col-sm-1 Unidad

    %tbody
      %tr
      = f.simple_fields_for :productions do |production|

        %tr{ id: "production-#{ production.object.id }" }
          %td
            .col-sm-12
              = production.association :department, label: false, input_html: { id: "department_productions_#{ production.object.id }", class: "form-control department_productions" }
          %td
            .col-sm-12
              = production.association :community, label: false, input_html: { id: "community_productions_#{ production.object.id }", class: "form-control community_productions" }, collection: production.object.try(:department).try(:communities)
          %td
            = production.input_field :entry
          %td
            = production.input_field :physical_coverage_amount
          %td
            = production.input_field :physical_coverage_unit
          %td
            = production.input_field :production_quantity
          %td
            = production.input_field :production_unit
          %td
            = production.input_field :production_system, as: :select, collection: ['Intensivo', 'Extensivo', 'Semi Intensivo']
          %td
            = production.input_field :production_destination, as: :select, collection: ['Autoconsumo', 'Mercado Interno', 'Mercado Externo']
          %td
            %a.btn.btn-danger.btn-xs.remove-static-field
              .glyphicon.glyphicon-remove
            = production.check_box :_destroy, class: 'hide'

%a.btn.btn-success.btn-large.add_production{ data: { type: "land-#{ index }-production" } }
  .glyphicon.glyphicon-plus-sign
  adicionar producción

%br 
%br
- index += 1