= simple_form_for @register, url: wizard_path, method: :put, html: { class: 'form-horizontal', role: 'form' }, defaults: { input_html: { class: 'form-control' } }  do |f|
  .form-group
    .col-sm-9
    = f.label :code, class: "col-sm-1"
    .col-sm-2
      = f.input_field :code, readonly: true
    = f.hidden_field :user_id

  = f.error_notification             

  .well.form-actions
    %legend IDENTIFICACIÓN DE LOS FACTORES DE PRODUCCIÓN
    .well.form-actions
      = field_set_tag 'Tierra' do
        #lands
          = render 'land', f: f
          %a.btn.btn-success.btn-large.add_land{ data: { type: 'land' } }
            .glyphicon.glyphicon-plus-sign
            adicionar tierra

    .well.form-actions
      = field_set_tag 'Trabajo' do
        #lands
          = render 'work', f: f
          %a.btn.btn-success.btn-large.add_work{ data: { type: 'work' } }
            .glyphicon.glyphicon-plus-sign
            adicionar trabajo

    .well.form-actions
      = field_set_tag 'Capital (Maquinaria, equipos, infraestructura productiva, semovientes y otros)' do
        #capitals
          = render 'capital', f: f
          %a.btn.btn-success.btn-large.add_capital{ data: { type: 'capital' } }
            .glyphicon.glyphicon-plus-sign
            adicionar capital

  = render "form_submit", register: @register

= render 'navsteps'

:javascript
  var register = new Runpa.Views.Registers.NewView()