
= simple_form_for @register, url: wizard_path, method: :put, html: { class: 'form-horizontal form-register', role: 'form' }, defaults: { input_html: { class: 'form-control' } }  do |f|
  .form-group
    .col-sm-9
    = f.label :code, class: "col-sm-1"
    .col-sm-2
      = f.input_field :code, readonly: true
    = f.hidden_field :user_id

  = f.error_notification             

  .well.form-actions
    %legend IDENTIFICACIÓN DE LOS FACTORES DE PRODUCCIÓN
    .well.form-actions
      = field_set_tag 'Tierra' do
        #lands
          = render 'land', f: f
          %a.btn.btn-success.btn-large.add_land{ data: { type: 'land' } }
            .glyphicon.glyphicon-plus-sign
            adicionar tierra

    .well.form-actions
      = field_set_tag 'Trabajo' do
        #works
          = render 'work', f: f

      .form-group
        %label.integer.required.control-label.col-sm-5 Sumatoria de número de días al año dedicado a actividades agropecuarias en el establecimiento
        .col-sm-5
          %input.form-control{ value: @register.total_time_to_land, readonly: true }

  = render "form_submit", register: @register

= render 'navsteps'

:javascript
  var register = new Runpa.Views.Registers.NewView()
  var work = new Runpa.Views.Works.NewView({total: #{ @register.total_time_to_land } })