= render 'registers/message_no_valids', register_no_valids: @register_no_valids 

= simple_form_for @register, url: wizard_path, method: :put, html: { class: 'form-horizontal form-register', role: 'form' }, defaults: { input_html: { class: 'form-control' } }  do |f|
  .form-group
    .col-sm-9
    = f.label :code, class: "col-sm-1"
    .col-sm-2
      %input.integer.optional.form-control{ readonly: true, type: "text", value: f.object.try(:code) }
      
    = f.hidden_field :user_id

  = f.error_notification             

  //.well.form-actions
  %legend IDENTIFICACIÓN DE LOS FACTORES DE PRODUCCIÓN
  .well.form-actions
    = field_set_tag 'Tierra' do
      #lands
        = render 'land', f: f
        %i 
          %b * 
          Deforestación sin autorización
        %br
        %br
        %a.btn.btn-success.btn-large.add_land{ data: { type: 'land' } }
          .glyphicon.glyphicon-plus-sign
          adicionar tierra
    
  .well.form-actions
    = field_set_tag 'Capital (Maquinaria, equipos, infraestructura productiva, semovientes y otros)' do
      #capitals
        = render 'capital', f: f    


  .well.form-actions
    = field_set_tag 'Trabajo' do
      #works
        = render 'work', f: f
    %i 
      %b Observación: 
      En la conversión se asume que un hombre trabaja 250 días al año.

  = render "form_submit", register: @register

= render 'navsteps'

:javascript
  var register = new Runpa.Views.Registers.NewView()
  var work = new Runpa.Views.Works.NewView({total: #{ @register.total_time_to_land } })