= render 'registers/message_no_valids', register_no_valids: @register_no_valids 

= simple_form_for @register, url: wizard_path, method: :put, html: { class: 'form-horizontal form-register', role: 'form' }, defaults: { input_html: { class: 'form-control' } }  do |f|
  .form-group
    .col-sm-9
    = f.label :code, class: "col-sm-1"
    .col-sm-2
      %input.integer.optional.form-control{ readonly: true, type: "text", value: f.object.try(:code) }
      
    = f.hidden_field :user_id

  = f.error_notification


  %legend PRODUCCIÓN
  .well.form-actions
    = field_set_tag 'Producción agropecuaria en el establecimiento' do
      #lands
        = render 'production', f: f

  .well.form-actions
    %legend IDENTIFICACIÓN DEL AGENTE REGISTRADOR, FECHA Y LUGAR DE EMISIÓN
    .well.form-actions
      .form-group
        = f.label :emission_department, class: "col-sm-3"
        .col-sm-3
          = f.input_field :emission_department_id, as: :select, collection: Department.all, id: "department_register"

        = f.label :emission_community, class: "col-sm-3"
        .col-sm-3
          = f.input_field :emission_community_id, as: :select, collection: f.object.try(:emission_department).try(:communities), id: "community_register"

      .form-group
        =  f.label :emission_date, class: "col-sm-3"
        .col-sm-3
          = f.input_field :emission_date, placeholder: 'DD/MM/AAAA', as: :string, value: (l f.object.emission_date if f.object.emission_date)

    .well.form-actions
      = render 'registrar_agent', f: f

  = render "form_submit", register: @register

= render 'navsteps'

:javascript
  var register = new Runpa.Views.Registers.NewView()