= simple_form_for @register, url: wizard_path, method: :put, html: { class: 'form-horizontal', role: 'form' }, defaults: { input_html: { class: 'form-control' } }  do |f|
  .form-group
    .col-sm-9
    = f.label :code, class: "col-sm-1"
    .col-sm-2
      = f.input_field :code, readonly: true
    = f.hidden_field :user_id

  = f.error_notification

  .well.form-actions
    %legend PRODUCCIÓN
    .well.form-actions
      = field_set_tag 'Producción agropecuaria en el establecimiento' do
        #lands
          = render 'agricultural_production', f: f
          /
            %a.btn.btn-success.btn-large.add_production{ data: { type: 'agricultural_production' } }
              .glyphicon.glyphicon-plus-sign
              adicionar producción

  .well.form-actions
    %legend IDENTIFICACIÓN DEL AGENTE REGISTRADOR, FECHA Y LUGAR DE EMISIÓN
    .well.form-actions
      .form-group
        = f.label :emission_department, class: "col-sm-3"
        .col-sm-3
          = f.input_field :emission_department_id, as: :select, collection: Department.all, id: "department_register"

        = f.label :emission_community, class: "col-sm-3"
        .col-sm-3
          = f.input_field :emission_community_id, as: :select, collection: Community.all, id: "community_register"

      .form-group
        =  f.label :emission_date, class: "col-sm-3"
        .col-sm-3
          = f.input_field :emission_date, as: :date

    .well.form-actions
      = render 'registrar_agent'

  = render "form_submit", register: @register

= render 'navsteps'

:javascript
  var register = new Runpa.Views.Registers.NewView()