%h1 Resumen

%table.table.table-striped
  %tr
    %th.col-sm-1 total de registros
    %td.col-sm-1= @total_registers

%h1 Lista de Registros

%table.table.table-striped
  %tr
    %th Código
    %th Titulares
    %th Número de hijos
    %th Número de agregados
    %th Total dias dedicados a actividades productivas
    %th Asociaciones a las que pertenece
    %th Actividad Principal
    %th Rubros
    %th

  - @registers.each do |register|
    %tr
      %td= register.code
      %td= register.summary_holders
      %td= register.sons.size
      %td= register.aggregates.size
      %td= register.total_time_to_land
      %td= register.summary_partnerships
      %td= register.summary_economic_activity
      %td= register.summary_entries
      %td
        %a.btn.btn-success.btn-small{href: register_path(register)}
          .glyphicon.glyphicon-eye-open
          Ver