- if params[:page].present? && params[:page] == '1'
  %h1 Resumen

  %table.table.table-striped
    - if @department
      %tr
        %th.col-sm-1 Departemento
        %td.col-sm-1= @department

    - if @community
      %tr
        %th.col-sm-1 Municipio
        %td.col-sm-1= @community

    - if @partnership
      %tr
        %th.col-sm-1 Asociación
        %td.col-sm-1= @partnership
    %tr
      %th.col-sm-1 total de registros
      %td.col-sm-1= @total_registers
      
%h1 Lista de Registros

%table.table
  %tr
    %th Cod
    %th Titular
    %th CI
    %th Estado Civil
    %th Edad
    %th Zona
    %th Lugar de Residencia
    %th Número de hijos
    %th Número de agregados
    %th Rubros
    %th Superficie
    %th Producción
    %th Asociaciones

  - @registers.each do |register|
    %tr
      %td= register.code
      %td= register.holder_main.try(:name)
      %td= register.holder_main.try(:identification)
      %td= register.holder_main.try(:civil_status).try(:name)
      %td= register.holder_main.try(:get_age)
      %td= register.zone_productions("CAÑA")
      %td= register.residence
      %td= register.sons.size
      %td= register.aggregates.size
      %td= register.entries_productions("CAÑA")
      %td= register.surface_productions("CAÑA")
      %td= register.total_productions("CAÑA")
      %td= register.summary_partnerships