.hide 
  = f.text_field :code_eq
  = f.text_field :holders_person_name_cont
  = f.text_field :holders_person_identification_cont
  = f.text_field :lands_department_id_eq
  = f.text_field :lands_community_id_eq
  = f.text_field :partnership_productive_name_1_cont
  = text_field_tag :page, params[:page]