= render 'searcher'

= render 'registers'

= paginate @registers

.form-actions.navsteps
  = search_form_for @q, url: reports_path(format: "pdf"),  html: { class: "downloader_file", target: "_blank" } do |f|
    = render 'search_params', f: f

    %button.btn.btn-primary{type: "submit"}
      %i.icon-user.icon-white
      .glyphicon.glyphicon-download-alt
      PDF

  / 
    = search_form_for @q, url: reports_path(format: "csv"),  html: { class: "downloader_file", target: "_blank" } do |f|
      = render 'search_params', f: f

      %button.btn.btn-primary{type: "submit"}
        %i.icon-user.icon-white
        .glyphicon.glyphicon-download-alt 
        CSV

  = search_form_for @q, url: reports_path(format: "xls"),  html: { class: "downloader_file", target: "_blank" } do |f|
    = render 'search_params', f: f 

    %button.btn.btn-primary{type: "submit"}
      %i.icon-user.icon-white
      .glyphicon.glyphicon-download-alt
      XLS
:javascript
  var register = new Runpa.Views.Registers.NewView()