<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Código</Data></Cell>
        <Cell><Data ss:Type="String">Titular</Data></Cell>
        <Cell><Data ss:Type="String">CI</Data></Cell>
        <Cell><Data ss:Type="String">Estado Civil</Data></Cell>
        <Cell><Data ss:Type="String">Edad</Data></Cell>
        <Cell><Data ss:Type="String">Zona(Municipio - comunidad)</Data></Cell>
        <Cell><Data ss:Type="String">Lugar de Residencia</Data></Cell>
        <Cell><Data ss:Type="String">Número de hijos</Data></Cell>
        <Cell><Data ss:Type="String">Número de agregados</Data></Cell>
        <Cell><Data ss:Type="String">Rubros</Data></Cell>
        <Cell><Data ss:Type="String">Superficie(cantidad)</Data></Cell>
        <Cell><Data ss:Type="String">Superficie(unidad)</Data></Cell>
        <Cell><Data ss:Type="String">Producción(cantidad)</Data></Cell>
        <Cell><Data ss:Type="String">Producción(unidad)</Data></Cell>
        <Cell><Data ss:Type="String">Asociaciones</Data></Cell>
      </Row>
    <% @registers.each do |register| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= register.code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= register.holder_main.try(:name).try(:upcase) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= register.holder_main.try(:identification).try(:upcase) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= register.holder_main.try(:civil_status).try(:name).try(:upcase) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= register.holder_main.try(:get_age) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= register.zone_productions("CAÑA") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= register.residence.try(:upcase) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= register.sons.size %></Data></Cell>
        <Cell><Data ss:Type="String"><%= register.aggregates.size %></Data></Cell>
        <Cell><Data ss:Type="String"><%= register.entries_productions("CAÑA") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= register.surface_productions("CAÑA") %></Data></Cell>
        <Cell><Data ss:Type="String">HAS</Data></Cell>
        <Cell><Data ss:Type="String"><%= register.total_productions("CAÑA") %></Data></Cell>
        <Cell><Data ss:Type="String">TON</Data></Cell>
        <Cell><Data ss:Type="String"><%= register.summary_partnerships.try(:upcase) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>